{% extends "index.html" %}
{% include "nav/topnav.html" %}

{% block body %}
<div class="container mt-4" id="loginContainer">
  <form class="tab-pane active" method="post">
    {{ form.hidden_tag() }}
    <h2>Login</h2>
    <div class="form-group">
      {{ form.email(
            placeholder=form.email.label.text,
            class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.password(
            placeholder=form.password.label.text,
            class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>
</div>
{% endblock %}
