{% extends "index.html" %}
{% include "nav/topnav.html" %}
{% include "nav/leftnav.html" %}

{% block body %}
<div class="row headerRow mb-3">
  <div class="col-md-12">
    <h5>Add Student</h5>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-12">
    <a class="btn btn-primary" role="button" href="/add/student/upload">Upload Excel/CSV</a>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-12">
    <input class="form-control mr-sm-2" type="text" id="studentFilterInput" onkeyup="studentFilter()" placeholder="Search for student..">
  </div>
</div>
<form id="addStudentForm" method="post">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" id="studentFilterContainer">
          {% include "students/snippets/db_students_table.html" %}
        </div>
      </div>
    </div>
  </div>
  {% include "students/snippets/block_snippet.html" %}
</form>
{% endblock %}
