{% extends "index.html" %}
{% include "nav/topnav.html" %}
{% include "nav/leftnav.html" %}

{% block body %}
<div class="row headerRow mb-3">
  <div class="col-md-12">
    <h5>Assignments</h5>
  </div>
</div>
<div class="row mb-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <nav class="navbar tableTabs">
          <ul class="nav">
            <li class="nav-item">
              <a href="{{ url_for('assignments') }}" class="nav-link active">All</a>
            </li>
            {% for block in blocks %}
            <li class="nav-item">
              <a href="{{ url_for('assignments', subject=block.subject.id, block=block.title) }}" class="nav-link">{{ block.subject.title }} {{ block.title }}</a>
            </li>
            {% endfor %}
          </ul>
          <div class="dropdown show">
            <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Week
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              {% for week in weeks %}
                <a class="dropdown-item" href="{{ url_for('assignments', wk=1) }}">{{ week.week_number }}</a>
              {% endfor %}
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
{% if assignments %}
{% for assignment in assignments %}
<div class="row mb-2">
  <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-4">{{ assignment.title }}</div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">{{ assignment.description }}</div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endfor %}
{% endif %}
{% include "week_assignment_cards.html" %}
{% endblock body %}
