{% extends "index.html" %}
{% include "nav/topnav.html" %}
{% include "nav/leftnav.html" %}

{% block body %}
<div class="container mt-4">
  <div class="row headerRow mb-3">
    <div class="col-md-12">
      <h5>New Assignment</h5>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form class="form" method="post">
            {{ form.hidden_tag() }}
            <div class="row mb-3">
              <div class="col-md-2">
                {{ form.block.label }}
                {{ form.block(class="form-control") }}
              </div>
              <div class="col-md-2">
                {{ form.week_number.label }}
                {{ form.week_number(class="form-control", min=1) }}
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                {{ form.title.label }}
                {{ form.title(class="form-control") }}
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                {{ form.description.label }}
                {{ form.description(class="form-control") }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{ form.submit(class="btn btn-primary") }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
