{% extends "index.html" %}
{% include "nav/topnav.html" %}
{% include "nav/leftnav.html" %}

{% block body %}
<div class="row headerRow mb-3">
  <div class="col-md-12">
    <h5>New Class</h5>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form class="form" method="post">
          {{ form.hidden_tag() }}
          <div class="row mb-3">
            <div class="col-md-2">
              {{ form.class_subject.label }}
              {{ form.class_subject(class="form-control") }}
            </div>
            <div class="col-md-2">
              {{ form.class_block.label }}
              {{ form.class_block(class="form-control", min=1) }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{ form.submit(class="btn btn-primary") }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% include "class_student_cards.html" %}
{% endblock %}
