{% extends 'index.html' %}
{% include 'topnav.html' %}
{% include 'leftnav.html' %}

{% block body %}
<div class="content">
  <main>
    <div class="container">
      <h1>Add Student</h1>
      <div class="container bg-dark">
        <div class="row">
          <div class="col">
            <input class="form-control mr-sm-2" type="text" id="studentFilterInput" onkeyup="studentFilter()" placeholder="Search for student..">
          </div>
        </div>
        <div class="row" id="studentFilterContainer">
          <div class="col bg-dark">
            <table class="table table-hover table-dark sticky" id="studentFilterTable">
              <thead class="thead-dark">
                <tr>
                  <th>ID</th>
                  <th>First</th>
                  <th>Last</th>
                </tr>
              </thead>
              <tbody id="studentFilterBody">
                {% for student in students %}
                <tr>
                  <td>{{ student.id }}</td>
                  <td>{{ student.first_name }}</td>
                  <td>{{ student.last_name }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row mt-4" id="addStudentFormContainer">
        <div class="m-auto">
          <form id="addStudentForm" method="post">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.student_id(
                  placeholder=form.student_id.label.text,
                  class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.first(
                  placeholder=form.first.label.text,
                  class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.last(
                  placeholder=form.last.label.text,
                  class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.class_subject(
                  placeholder=form.class_subject.label.text,
                  class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.class_block(
                  placeholder=form.class_block.label.text,
                  class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.submit(
                  placeholder=form.submit.label.text,
                  class="btn btn-primary form-control") }}
          </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}

{% block script %}
<script>
  $(function() {
    $("#studentFilterInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#studentFilterBody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  $(function() {
    $("#studentFilterBody > tr").on("click", function() {
      var id = $(this).find("td:eq(0)").text()
      var first = $(this).find("td:eq(1)").text()
      var last = $(this).find("td:eq(2)").text()
      $("#addStudentForm > div.form-group > input#student_id").val(id)
      $("#addStudentForm > div.form-group > input#first").val(first)
      $("#addStudentForm > div.form-group > input#last").val(last)
    });
  });
</script>
{% endblock %}
