{% block class_student_cards %}
<div class="row manageRow">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Class</h5>
        <p class="card-text">Upload an Excel file or input student data manually</p>
        <a href="/new/class" class="btn btn-primary">Add Class</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Student</h5>
        <p class="card-text">Upload an Excel file or input student data manually</p>
        <a href="/add/student" class="btn btn-primary">Add Student</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
