<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Office Hours</title>
  </head>
  <body>
    {% block topnav %}{% endblock topnav %}
    {% block leftnav %}{% endblock leftnav %}
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{category}}">
            {{message}}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block body %}{% endblock body %}
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}" charset="utf-8"></script>
  <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}" charset="utf-8"></script>
  {% block script %}{% endblock script %}
</html>
