{% extends "index.html" %}
{% include "topnav.html" %}

{% block body %}
<div class="content bg-white">
  <main>
    <div class="container" id="registerContainer">
      <!-- Teacher Registration Form -->
      <form class="tab-pane active" method="post">
        {{ form.hidden_tag() }}
        <h2>{{ title }} Registration</h2>
        <div class="form-group">
          {{ form.first(
                placeholder=form.first.label.text,
                class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.last(
                placeholder=form.last.label.text,
                class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.email(
                placeholder=form.email.label.text,
                class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.password(
                placeholder=form.password.label.text,
                class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.password_confirm(
                placeholder=form.password_confirm.label.text,
                class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
      </form>
      <!-- <nav class="navbar">
        <ul class="nav nav-tabs" id="registerTabs" role="tablist">
          <li class="nav-item">
            <a id="teacherTab" data-toggle="tab" href="#teacher" role="tab" aria-controls="teacher" aria-selected="true" class="nav-link active">Teacher</a>
          </li>
          <li class="nav-item">
            <a id="studentTab" data-toggle="tab" href="#student" role="tab" aria-controls="student" aria-selected="false" class="nav-link">Student</a>
          </li>
        </ul>
      </nav> -->
    </div>
  </main>
</div>
{% endblock body %}
