{% block week_assignment_cards %}
<div class="row manageRow mt-4">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Week</h5>
        <p class="card-text">Start a new week</p>
        <a href="/new/week" class="btn btn-primary">Add Week</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Assignment</h5>
        <p class="card-text">Add an assignment for your block</p>
        <a href="/new/assignment" class="btn btn-primary">Add Assignment</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
